@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


// Primary colors
$pale-violet: hsl(276, 100%, 81%);                  // sub-heading at the top of the app UI
$moderate-violet: hsl(276, 55%, 52%);               // chat on the left
$desaturated-dark-violet: hsl(271, 15%, 43%);       // chat on the right
$grayish-blue: hsl(206, 6%, 79%);                   // placeholder text
$very-dark-desaturated-violet: hsl(271, 36%, 24%);  // main heading
$dark-grayish-violet: hsl(270, 7%, 64%);            // paragraph


// Gradient colors
$light-magenta: hsl(293, 100%, 63%);
$light-Violet: hsl(264, 100%, 61%);

// Secondary colors
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);           // app background
$very-dark-desaturated-violet: hsl(271, 36%, 24%);   // submit button background
$very-light-magenta: hsl(289, 100%, 72%);            // radio-button-outline



/*==========
DEFAULTS
=========*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*==========
COMPONENTS
=========*/

// Background columns
.bg {
    position: fixed;
    z-index: -1;
    content: "";
    width: 400px;
    height: 50%;

    &--purple {
        top: 0;
        left: -210px;
        height: 60%;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 250px;
        background-image: linear-gradient(45deg, $light-Violet, $light-magenta);
    }
    &--gray {
        bottom: 0;
        right: -210px;
        border-top-left-radius: 600px;
        border-top-right-radius: 250px;
        background-color: $light-grayish-violet;
    }
}

// Phone illustration
$phone-width: 250px; // 250px
$phone-height: 300px; // 500px
$phone-font-size: 0.48rem;  // 0.6rem
$phone-white-frame-thickness: 9px;  // large 14px

$phone-frame-notch-width: 60%;
$phone-frame-notch-height: 35px; // 60px
$phone-frame-notch-radius: 12px; // 20px

$phone-top-padding: 32px 20px 10px;  // 45px 20px 15px
$phone-top-avatar-size: 25px; // 33px

$phone-message-list-top-margin: 11px; // 15px
$phone-message-max-width: 54%; // 53%
$phone-message-padding: 7px 8px; // 8px 10px
$phone-message-margin: 0 9px 8px; // 0 12px 10px - left/right margin must match `new messages` margin
$phone-message-line-height: 0.8rem; // 0.88rem
$phone-message-attachment-size: 35px; // 50px
$phone-message-attachment-radius: 10px; // 13px

$phone-message-interactive-padding: 7px 23px 7px 10px; // 12px 23px 12px 10px
$phone-message-interactive-radio-font-size: 0.9rem; // 1rem
$phone-message-interactive-rate-font-size: 0.7rem; // 0.9rem

$phone-new-message-height: 30px; // 45px
$phone-new-message-margin: 5px 9px 10px; // 12px - left/right margin must match `messages` margin
$phone-new-message-button-size: $phone-new-message-height - 9px;
$phone-new-message-input-padding: 5px 45px 4px 15px;  // 5px 45px 0 25px
$phone-new-message-input-font-size: 0.6rem;  // 0.7rem
$phone-new-message-button-font-size: 0.6rem;  // 0.95rem

.phone {
    width: $phone-width;
    min-height: $phone-height;
    background-color: #fff;
    box-shadow: 0 15px 25px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: $phone-white-frame-thickness;
    font-size: $phone-font-size;

    &__frame {
        position: relative;
        height: 100%;
        border-radius: 25px;
        background-color: $light-grayish-violet;
        overflow: hidden;

        // Frame notch
        &::before {
            content: "";
            position: absolute;
            z-index: 9999915;
            top: -($phone-frame-notch-height / 1.9);
            left: 50%;
            margin-left: -($phone-frame-notch-width / 2);
            width: $phone-frame-notch-width;
            height: $phone-frame-notch-height;
            border-radius: $phone-frame-notch-radius;
            background-color: #fff;
        }
    }


    // Top frame of phone
    &__top {
        padding: $phone-top-padding;
        background-image: linear-gradient(45deg, $light-Violet, $light-magenta);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    }
    &__heading {
        text-align: left;
        flex: 1;
        display: inline-flex;
    }
    &__avatar {
        display: inline-block;
        width: $phone-top-avatar-size;
        height: $phone-top-avatar-size;
        margin: 0 10px;
        img {
            width: 100%;
            border-radius: 50%;
            border: 1px solid $white;
        }
    }
    &__name {
        font-weight: 500;
    }
    &__status {
        color: $pale-violet;
        font-weight: 400;
    }


    // Different type of phone messages
    &__messages {
        margin-top: $phone-message-list-top-margin;
    }
    &__message {
        max-width: $phone-message-max-width;
        background-color: $white;
        border-radius: 12px;
        padding: $phone-message-padding;
        margin: $phone-message-margin;
        float: right;
        text-align: left;
        line-height: $phone-message-line-height;

        &--sent {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom-right-radius: 4px;
            color: $desaturated-dark-violet;
        }
        &--received {
            float: left;
            border-bottom-left-radius: 4px;
            background-color: rgb(237,229,242);
            color: $moderate-violet;
        }
        &--attachment {
            max-width: 90%;
            background-color: transparent;
            padding: 0;
            margin-top: 11px;
            margin-bottom: 7px;
            div {
                display: inline-block;
                width: $phone-message-attachment-size;
                height: $phone-message-attachment-size;
                margin-left: 10px;
            }
            img {
                width: 100%;
                border-radius: $phone-message-attachment-radius;
            }
        }
        &--interactive {
            float: left;
            border-bottom-left-radius: 4px;
            background-image: linear-gradient(45deg, $light-magenta, $light-Violet);
            padding: $phone-message-interactive-padding;
            color: $white;

            // Vertically center price options
            display: inline-flex;
            align-items: center;
            max-width: 65%;
            width: 65%;
            column-gap: 9px;
        }
    }

    &__radio {
        color: $very-light-magenta;
        font-size: $phone-message-interactive-radio-font-size;
    }
    &__desc {
        flex: 1;
        font-weight: 500;
        color: $pale-violet;
    }
    &__rate {
        font-size: $phone-message-interactive-rate-font-size;
        font-weight: 700;
    }


    // Input for messages
    &__new-message {
        position: relative;
        margin: $phone-new-message-margin;

        input {
            width: 100%;
            height: $phone-new-message-height;
            border: 0;
            border-radius: 30px;
            padding: $phone-new-message-input-padding;
            font-family: 'Rubik', sans-serif;
            font-size: $phone-new-message-input-font-size;
            &::placeholder {
                color: $grayish-blue;
            }
        }
        button {
            position: absolute;
            width: $phone-new-message-button-size;
            height: $phone-new-message-button-size;
            top: 4px;
            right: 4px;
            border: 0;
            border-radius: 50%;
            background-color: $very-dark-desaturated-violet;
            font-size: $phone-new-message-button-font-size;
            color: $white;
            // Center arrow
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}



/*==========
LAYOUT
=========*/

main {
    width: 85%;
    margin: 4em 0;
}

.illustration {
    display: flex;
    justify-content: center;
}

.introduction {
    margin-top: 4em;
    text-align: center;

    &__heading {
        font-size: 2.5rem;
        font-weight: 500;
        color: $very-dark-desaturated-violet;
        margin-bottom: 0.5em;
    }
    &__description {
        color: $dark-grayish-violet;
        line-height: 1.7rem;
    }
}


/*==========
DESKTOP
=========*/

@media only screen and (min-width: 800px) {
    .bg {
        width: 500px;
        height: 700px;

        &--purple {
            left: -135px;
            border-bottom-left-radius: 600px;
            border-bottom-right-radius: 600px;
        }
        &--gray {
            right: -110px;
            border-top-left-radius: 250px;
            border-top-right-radius: 200px;
        }
    }

    main {
        max-width: 815px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 7em;
    }

    .introduction {
        margin-top: 0; // Reset mobile margin
        text-align: left;

        &__heading {
            font-size: 2.5rem;
            margin-bottom: 0.3em;
        }
        &__description {
            font-size: 1rem;
            line-height: 1.7rem;
        }
    }
}